[user]
	name = Tadeáš Báča
	email = bacatade@fit.cvut.cz
[core]
	editor = nvim
	autocrlf = input
[alias]
	coma = !git add ./ && git commit
	st = status
	ci = commit
	co = checkout
	br = branch
	ll = log --oneline --graph --all --decorate

# ~/.gitconfig
[merge]
  tool = nvimdiff
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"
