[user]
	name = Tadeáš Báča
	email = bacatade@fit.cvut.cz
[core]
	editor = vim
	autocrlf = input
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	ll = log --oneline --graph --all --decorate
