


! XTerm
XTerm.termName: xterm
!! Font
xterm*faceName: NotoMono-Regular 
xterm*faceSize: 12
URxvt*font:     NotoMono-Regular
URxvt*boldFont: NotoMono-Regular

!! For utf-8
XTerm.vt100.locale: false
XTerm.vt100.utf8: true
!! for alt
XTerm.vt100.metaSendsEscape: true
!! for backspace
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
!! scrollbar
XTerm.vt100.scrollBar: true
XTerm.vt100.scrollbar.width: 8
!! Urgency
XTerm.vt100.bellIsUrgent: true

! Colors
! special
*.foreground:   #d4dbff
*.background:   #121212
*.cursorColor:  #d4dbff

! black
*.color0:       #282a2e
*.color8:       #444950
*.color16:      #707880
 
! magenta
*.color1:       #D54C73
*.color9:      	#908cdb
*.color17:      #3837dd

! green
*.color2:       #78dc8d
*.color10:      #7bdb9a
*.color18:       #444950

! yellow
*.color3:       #fcf291
*.color11:      #f5ec9a
*.color19:       #444950

! blue
*.color4:       #486c9a
*.color12:      #31466b

! red
*.color5:       #FC3E3E 
*.color13:      #A54242
*.color21:      #CC6666
!
! cyan
*.color6:       #65dedc
*.color14:      #72e7e5
*.color22:       #444950

! white
*.color7:       #e4e7ff
*.color15:      #f4f7ff
*.color23:       #444950
