


! XTerm
XTerm.termName: xterm
!! Font
xterm*faceName: NotoMono-Regular 
xterm*faceSize: 12
URxvt*font:     NotoMono-Regular
URxvt*boldFont: NotoMono-Regular

!! For utf-8
XTerm.vt100.locale: false
XTerm.vt100.utf8: true
!! for alt
XTerm.vt100.metaSendsEscape: true
!! for backspace
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
!! scrollbar
XTerm.vt100.scrollBar: true
XTerm.vt100.scrollbar.width: 8
!! Urgency
XTerm.vt100.bellIsUrgent: true

! Colors
! special
*.foreground:   #d4dbff
*.background:   #0e1119
*.cursorColor:  #d4dbff

! black
*.color0:       #282a2e
*.color8:       #444950

! red
*.color1:       #d54c73
*.color9:       #df4e75

! green
*.color2:       #78dc8d
*.color10:      #7bdb9a

! yellow
*.color3:       #fcf291
*.color11:      #f5ec9a

! blue
*.color4:       #5689e8
*.color12:      #719bec

! magenta
*.color5:       #837dd7
*.color13:      #908cdb

! cyan
*.color6:       #65dedc
*.color14:      #72e7e5

! white
*.color7:       #e4e7ff
*.color15:      #f4f7ff

